@import "variables.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*---------- Global --------*/
/*****************************************************************************************************************************************/
section {
    height: 100vh;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
h3{
    text-align: center;
    font-weight: 550;
    margin: 10px 0;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;  
}

.sub-header{
    height: 59vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url(design/images/background_hydrogen_decade.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--white);
}
.sub-header h1{
    padding-top: 200px;
}

/*---------- Navigation bar --------*/
/*****************************************************************************************************************************************/

.nav-bar {
    position: fixed;
    width: 88%;
    background: var(--transparent-white);
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.2% 6% 0.2% 6%;
    transition: 0.3s;
    box-shadow: 0 40px 40px -1px var(--box-shadow);

}
.nav-bar-home {
    position: fixed;
    top: -150px;
    width: 88%;
    background: var(--transparent-white);
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.2% 6% 0.2% 6%;
    transition: 0.3s;
    box-shadow: 0 40px 40px -1px var(--box-shadow);

}

.nav-logo {
    width: 400px;
    transition: 0.3s;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 8px 12px;

}

.nav-links-list {
    font-size: 20px;
    transition: 0.3s
    
}

.nav-links-list-items {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;

}

.nav-links-list-items:hover {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;

}

.nav-links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--green);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links li:hover::after {
    width: 100%;
}

nav .fa{
    display: none;
    
}

/*---------- Landing --------*/
/*****************************************************************************************************************************************/

.landing {
    height: 100%;
    width: 100%;
    
    min-height: 100vh;
    /* background-image: linear-gradient(rgba(4,9,30,0.25), rgba(4,9,30,0.25)), url(design/images/background_pure_hydrogen.jpg);
    background-position: center;
    background-size: cover; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;
    text-align: center;

    position: relative;
}
.landing .video-player {
    height: 100%;
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 0 auto;
    z-index: -1;
}
.landing .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* add additional styles for the text box here */
}

.text-box h1 {
    position: relative;
    font-size: 55px;
    padding-bottom: 20px;
}
  
/* Underlines the h1 tag. 
  .text-box h1::after {
    margin-bottom: 10px;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 5px;
    width: 80%;
    height: 3.5px;
    background-color: var(--responsive-green);
    z-index: -1; /* add a negative z-index to position the underline behind the text 
    transform: translateX(-50%); /* use transform to center the underline relative to the h1 text 
  } */

.text-box p{
    margin: 0px 0 40px;
    font-size: 21px;
    font-weight: 480;
    line-height: 170%;
    color: var(--dirty-white);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 12px 34px;
    font-size: 18px;
    font-weight: 550;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1.5s;
}

.hero-btn:hover{
    border: 1px solid var(--green);
    background: var(--green);
    font-weight: bolder;
}



/*---------- Services --------*/
/*****************************************************************************************************************************************/
.services-section{
    width: 80%;
    margin: -20px auto -20px auto;
    text-align: center;
    padding-top: 100px;
    
    height: 95vh;
    min-height: 50vh;
}

.services-section .row{
    padding-bottom: 50px;

}  
.services-section .row{
    margin-bottom: auto;
}  
.services-left{
    flex-basis: 31%;
    background: var(--light-green);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
.services-section p{
    color: var(--black);
}

/*---------- Services Page --------*/
/*****************************************************************************************************************************************/
.services-section-page{
    width: 80%;
    margin: -20px auto -20px auto;
    text-align: center;
    padding-top: 100px;
    
    height: 130vh;
    min-height: 50vh;
}

.services-section-page .row{
    margin-bottom: auto;
}
.services-section-page p{
    color: var(--black);
}
.services-left p{
    color: rgb(58, 58, 58);
}

.services-left:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.services-middle{
    flex-basis: 31%;
    background: rgba(122, 122, 122, 0.1);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}

.services-middle p{
    color: rgb(58, 58, 58);
}

.services-middle:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.services-right{
    flex-basis: 31%;
    background: rgba(43, 142, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}

.services-right p{
    color: rgb(58, 58, 58);
}

.services-right:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.services-card-row-element:hover {
    box-shadow: 0 0 20px 0px var(--box-shadow);
}

.services-card-row-element-img {
    height: 350px;
    width: 350px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.services-card-row-element-img img {
    max-width:100%;
    max-height:100%;
  
}
/*---------------- Global Partners ----------------*/
/*****************************************************************************************************************************************/

.partners-section{    
    height: 100vh;
    min-height: 50vh;

    width: 100%;
    margin: -20px auto -20px auto;
    text-align: center;
    padding-top: 50px;
    background-color: var(--green);

}
.partners-col{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.partners-section h1, p{
    color: var(--white);
}
.partners-col h3, p {
    color: var(--white);
}
.partners-section img{
    width: 107%;
}
.statistics{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.statistics h4{
    color: var(--white);
    font-size: 70px;
    font-weight: 600;
}
.statistics table{
    align-items: flex-start;
    margin: 0 auto;
}
.partners-col .statistics p{
    color: var(--white);
    font-size: 24px;
    font-weight: 400;
}
.line-1 {
    margin-top: -155px;
    margin-left: 20vh;
    height: 150px;
    width: 0.15vh;
    background-color: var(--white);
}
.line-2 {
    margin-top: -155px;
    margin-left: 20vh;
    height: 150px;
    width: 0.15vh;
    background-color: var(--white);
}
.line-3 {
    margin-top: -155px;
    margin-left: 20vh;
    height: 150px;
}
/*-------------- Products ----------------*/
/*****************************************************************************************************************************************/
.products-section{
    width: 80%;
    margin: -20px auto -20px auto;
    text-align: center;
    padding-top: 100px;
}
.products-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

    color: var(--black);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.products-col img{
    width: 70%;
    border-radius: 10px;
}
.products-col p{
    
    color: var(--black);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.products-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
/* Projects */
/*****************************************************************************************************************************************/

.projects {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -20px auto -20px auto;
    text-align: center;
 
}
.projects-section{
    width: 90%;
    margin: -20px auto -20px auto;
    text-align: center;
    padding-top: 100px;
    
    height: 100vh;
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: -20px auto -20px auto;
}

.projects-header {
    width: 80%;
    padding: 100px 0 0 0 ;
}

.projects-gallery-row {
    width: 100%;
        display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 50px;  
    padding-top: 50px;

}

.projects-gallery-row-element {
    flex-basis: 30%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.projects-gallery-row-element img {
    width: 100%;
    height: 100%;
}

.project-hover-layer {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;

}

.project-hover-layer:hover {
    background: var(--hover-green);

}

.project-hover-layer h3{
    font-weight: 500;
    color: var(--white);
    font-size: 22px;
    position: absolute;
    opacity: 0;
    transition: .5s;
    line-height: 1.35;
    padding-top: 200px;
    width: 70%;
}

.project-hover-layer:hover h3 {
    opacity: 1;
    padding: 0;
}

.project-hover-layer a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
    background: var(--white);
    border: 2px solid var(--white);
    font-weight: 500;
    margin-top: 10px;
    padding: 2px 35px;
    font-size: 16px;
}

.project-hover-layer a:hover {
    background: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0);
    transition: 0.3s;

}

.padding-hack {
    height: 10px;
}


/*-------- Call To Action ----------*/
/*****************************************************************************************************************************************/

.cta-section{
    width: 80%;
    margin: 20vh auto 40vh auto;
    text-align: center;
    padding-top: 10px;
    
    height: 25vh;
    min-height: 15vh;
}

.cta-section .cta{
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;

    padding: 100px 0;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url(design/images/background_pure_hydrogen.jpg);

}
.cta-section h1{
    color: var(--white);
    margin-bottom: 40px; 
    padding: 0; 
}


/*--------------- About Us Page --------------*/
/*****************************************************************************************************************************************/
.about-us-section{
    width: 80%;
    margin: -20px auto 80px auto;
    text-align: center;
    padding-top: 100px;
    
    height: 150%;
    min-height: 50vh;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

.about-col{
    flex-basis: 48%;
    padding: 10px 2px;
    
}
.about-col h1{
    padding-top: 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 2;

}
.about-col p{
    padding: 15px 0 25px; 
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
    color: var(--black);
}


.hero-btn.green-btn{
    border: 1px solid var(--green);
    background: transparent;
    color: var(--green);
}
.hero-btn.green-btn:hover{
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--white);
}
.hero-btn.green-btn::after{
    background: var(--green);
}
.hero-btn.green-btn::before{
    background: var(--green);
}
.content-image{
    flex-basis: 50%;
}
.about-col img{
    width: 100%;
}

/*------- Contact Us Page ------------*/
/*****************************************************************************************************************************************/

.location-section{
    
    height: 20vh;
    min-height: 50vh;
}
.contact-us-section{
    margin: auto;
    padding: 30px 0;
    
    width: 80%;
    margin: auto;
    margin: -20px auto -20px auto;
    padding-top: 100px;
    
    height: 80vh;
    min-height: 50vh;
}
.contact-us-section-form{
    width: 84%;
    margin: auto;
    height: auto;

}
.location-section iframe{
    width: 80%;
    padding-left: 10%;
    padding-top: 50px;

}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.form-received {
    flex-basis: 60%;
    margin-bottom: 30px;
    text-align: center;
}
.form-received h1{
    font-size: 30px;
    flex-basis: 48%;
    margin-bottom: 30px;
    text-align: center;
    color: var(--green);
    margin-top: 10vh;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: var(--green);
    margin: 10px;
    margin-right: 30px;
}
    
.contact-col div p{
    padding: 0;
    color: var(--green);
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}
.contact-col input, .contact-col textarea{
    min-width: 100%;
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.contact-col button{
    width: 105%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
}
.contact-col button.hero-btn.green-btn.detailed{
    width: 60%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
}

/*------- Inquiry Page ------------*/
/*****************************************************************************************************************************************/

.inquiry-form-section{
    padding-bottom: 45px;
    width: 80%;
    padding-left: 10%;
    
    height: 100vh;
    min-height: 50vh;
}

.inquiry-section{
    width: 80%;
    margin: auto;
    
    height: 100vh;
    min-height: 50vh;
}
.inquiry-col{
    flex-basis: 110%;
}
.form-received {
    flex-basis: 60%;
    margin-bottom: 30px;
    text-align: center;
}
.form-received h1{
    font-size: 30px;
    flex-basis: 48%;
    margin-bottom: 30px;
    text-align: center;
    color: var(--green);
    margin-top: 10vh;
}

.inquiry-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 40px;
}

.inquiry-col div .fa{
    font-size: 28px;
    color: var(--green);
    margin: 10px;
    margin-right: 30px;
}
    
.inquiry-col div p{
    padding: 0;
    color: var(--green);
}
.inquiry-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}
.inquiry-col-form input, .inquiry-col-form textarea{
    min-width: 100%;
    width: 100%;
    padding: 15px 40px 15px 15px;
    margin-bottom: 12px;
    outline: none;
    border: 1px solid #ccc;
}
.inquiry-col-form button{
    width: 108%;
    padding: 15px 40px 15px 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
} 



 /*Partners Banners*/
/*****************************************************************************************************************************************/
.banners-section{
    width: 100%;
    margin: -20px auto -20px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(31, 161, 129, 0.06);

    padding-top: 100px;
    padding-bottom: 150px;

    height: 20vh;
    min-height: 10vh;
}
.banners-flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 80%;
}
.banners-col p{
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.banners-flex-img-box {
    height: 100px;
}

.banners-flex-img-long {
    height: 60px;
}

/*--------------Footer---------------*/
/*****************************************************************************************************************************************/

.footer{
    width: 100%;
    margin: 20px auto -20px auto;
    text-align: center;
    
    height: 25vh;
    min-height: 5vh;
    background-color: rgba(31, 161, 129, 0.06);

}
.footer h4{
    padding-top: 50px;
    color: var(--black);    
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 27px;
    font-weight: 600;
}
.footer p{
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}


/*Lightbox*/
/*****************************************************************************************************************************************/

.full-flex {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
 }
 
 .project-dialog {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-wrap: wrap;
     width: 80%;
     padding: 150px 0 90px;
     gap: 25px;
 }
 
 .text-flex-child {
     width: 35%;
     padding: 50px 30px;
     background-color: var(--light-green);
 }
 
 .text-flex-child h2 {
     font-size: 25px;
     text-align: center;
     padding-bottom: 25px;
 
 }
 
 .text-flex-child p {
     color: var(--black);
     text-justify: auto;
     padding: 0 0 15px 0;
     font-size: 18px;
 
 }
 
 .text-flex-child ul {
     list-style: square inside;
     color: var(--black);
     font-size: 18px;
     font-weight: 300;
     line-height: 22px;
 }
 
 .img-flex-child {
     width: 55%;
     aspect-ratio: 4 / 3;
 }
 
 .gallery {
     width: 100%;
     height: 100%;
 }
 
 .gallery-cell {
     width: 100%;
     margin-right: 10px;
 }
 
 .gallery-cell img {
     border-radius: 5px;
     width: 100%;
     height: 100%;
 }
